/* 
		http://meyerweb.com/eric/tools/css/reset/ 
		v2.0 | 20110126
		License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* 
		That's it for the "reset".  From here on is
		my own code.
		"GENERAL" stuff is used for all of my sites.
		"CUSTOM" stuff is for a specific instances...
*/


		
		
/* 	=========================================
		GENERAL COMMON SELECTORS
		========================================= */

		html, body {
			background-color: #1c567e;
			font-family: Verdana, Geneva, sans-serif;
			font-size: 16px;
			height: 100%;
			overflow-x: hidden;
			position: relative;
		}
				
		main { 
			background-color: #ccc;
			padding: 1.5em 0;  
		}
		
		/* 	sections are for centering header, footer, 
				and main content */
		section {
			margin: 0 auto;
			position: relative;
			width: 1200px;
		}

		main section {
			background-color: #fff;						
			border: 1.5em solid transparent;
			box-sizing: border-box;
			clear: both;
			min-height: 300px;
			overflow: hidden;
			position: relative;
		}

		
		header { 
			background-color: #1c567e; 
			padding: 2em 0 2.5em 0;
		}
		
		footer { 
			background-color: #1c567e;
			min-height: 770px;
			padding: 0; 
		}		

		/* HEADINGS */
		h1 { 
			font-family: 'Roboto Slab', serif; 
			font-size: 40px; letter-spacing: 2px; font-weight: bold;
			text-shadow: 1px 1px 1px #fff, 3px 3px 0px #999;
			margin-bottom: .45em; line-height: 1.1;
		}

		h2 {
			font-family: 'Roboto Slab', serif; 
			font-size: 30px; letter-spacing: 1px; font-weight: bold;
			text-shadow: 1px 1px 1px #fff, 3px 3px 0px #999;
			margin: .75em 0 .15em 0; line-height: 1;
		}

		/* FONT STYLES */
		/* 	make paragraphs that are not last have a bottom margin, adapted from
				https://stackoverflow.com/questions/36321736/manage-margins-so-that-the-last-elements-have-no-margins	*/
		p:not(:last-child) { margin-bottom:1em; }
		b { font-weight: bold; }
		i { font-style: oblique; }

		/* LINKS */
		a:link, a:visited, a:hover, a:active { color: blue; }
		a.grey:link, a.grey:visited, a.grey:hover, a.grey:active { color: grey; }
		a.black:link, a.black:visited, a.black:hover, 
		a.black:active { color: black; }
		
		hr {
			clear: both;
			border-style: none;			
			height: 0;
			border-top: 5px solid #fff;
			margin: 20px 0 5px 0;
		}

		ol { list-style: decimal; margin-left: 1.25em; line-height: 1.5; }
			li { margin-bottom: 10px; }
		ul { list-style: disc; margin-left: 1em; }		
		
/* 	=========================================
		MOBILE AND NARROW DEVICES
		========================================= */

@media all and (max-width: 1200px) { 

	html, body { background-color: #1c567e;	}
	
		main { padding: 0; }
		section { width: 100%; }
		main section { 
			padding: 1em;
		}
	
}

